body {
  background: #FFF;
  padding: 0px;
  margin: 0px;
}

header {
  margin-top: 25px;
  text-align: center;
  height: 260px;
  display: block;
}

div.logo {
  height: 275px;
  display: block;
}

h1 {
  margin: 30px;
  font-family: Oswald;
  text-align: center;
  animation: 5s;
}
h1.title {
  margin-top: -20px;
}
h1.nate {
  color: #FFF;
  text-shadow: 1px 1px 0px #000;
  font-size: 2.5em;
  animation: fears 2s linear;
  margin: -40px 0 20px;
  line-height: 1.25em;
  font-weight: 100;
}
h1.nate span.name {
  color: #00A388;
}
h1.nate span.job-title {
  color: #79BD8F;
}
h1.hidden {
  opacity: 0;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
  font-size: 2.5em;
}
h1.hidden.fears {
  animation: fears 3s linear alternate forwards;
}

section.second {
  background: #00a388;
  width: 100%;
  height: 400px;
  padding-top: 30px;
  position: relative;
  margin-top: -10px;
}

h2.faceOff {
  color: #000;
  font-size: 2em;
  font-family: Oswald, Sans Serif;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-left: -140px;
}

.dudes {
  display: inline;
  text-indent: 10px;
}
.dudes span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #FFF;
  animation: fellas 12s linear infinite 0s;
  text-shadow: 1px 1px 1px #000;
}

span.sean {
  animation-delay: 6s;
}

section.third {
  height: 500px;
  background: #BEEB9F;
  margin-top: -30px;
  padding-top: 50px;
}

svg {
  margin: auto;
  position: relative;
  animation: fall 1.5s linear alternate forwards;
  margin-top: -200px;
}

@keyframes fellas {
  0% {
    opacity: 1;
    height: 0px;
  }
  10% {
    opacity: 1;
    height: 50px;
  }
  40% {
    opacity: 1;
    height: 50px;
  }
  60% {
    opacity: 0;
    height: 50px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes fall {
  0% {
    margin-top: -100px;
    animation-timing-function: ease-in;
  }
  60% {
    margin-top: 25px;
    animation-timing-function: ease-out;
  }
  80% {
    margin-top: 10px;
    animation-timing-function: ease-in;
  }
  100% {
    margin-top: 25px;
    animation-timing-function: ease-out;
  }
}
.path.one {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: dash1 4s linear alternate forwards;
}

.path.two {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: dash2 4s linear alternate forwards;
}

.path.three {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: dash3 4s linear alternate forwards;
}

@keyframes dash1 {
  0% {
    fill: #fff;
    stroke-dashoffset: 1200;
  }
  50% {
    fill: #fff;
    stroke-dashoffset: 0;
  }
  100% {
    fill: #79BD8F;
    stroke-dashoffset: 0;
    stroke: #79BD8F;
  }
}
@keyframes dash2 {
  0% {
    fill: #fff;
    stroke-dashoffset: 1200;
  }
  50% {
    fill: #fff;
    stroke-dashoffset: 0;
  }
  100% {
    fill: #00A388;
    stroke-dashoffset: 0;
    stroke: #79BD8F;
  }
}
@keyframes dash3 {
  0% {
    fill: #fff;
    stroke-dashoffset: 1200;
  }
  50% {
    fill: #fff;
    stroke-dashoffset: 0;
    stroke: #BEEB9F;
  }
  100% {
    fill: #BEEB9F;
    stroke-dashoffset: 0;
    stroke: #BEEB9F;
  }
}
